# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# Python-specific files and directories
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
ENV/
*.env
mtenv/

# Project-specific files and directories
*.log
*.sqlite3

# IDE and editor files
.idea/
.vscode/
*.swp
*.swo

# data 
data/

lightning_logs/

pruned_models/

rational_trained_models/

evaluation_img/

pytorch_logs/